p #{error}
p Register form
form(action="./register", method="post")
    input(type="text", placeholder="brugernavn", name="username")
    input(type="password", name="password", placeholder="d")
    input(type="submit", value="Register")
br
p Login form
form(action="./login", method="post")
    input(type="text", placeholder="brugernavn", name="username")
    input(type="password", name="password", placeholder="d")
    input(type="submit", value="Login")